.select2-selection--single {
    background-color: #fff;
    border-color: #e1e5ef !important;
    border-radius: 3px !important;
    height: 38px !important;
    padding-top: 6px;
    outline: none;
    border: 1.5px solid gray;
}

.tag-orange {
    background-color: #fd7e14 !important;
    color: #fff;
}
.tag {
    color: #14112d;
    background-color: #ecf0fa;
    border-radius: 3px;
    padding: 0 .5rem;
    line-height: 2em;
    display: -ms-inline-flexbox;
    display: inline-flex;
    cursor: default;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

  .badge {
      font-family: "Roboto", sans-serif;
      font-size: 12px !important;
      font-weight: 600;
      height: 20px;
  }.datepicker-dropdown {
       max-width: 300px;
   }

.datepicker {
    float: right
}

.datepicker.dropdown-menu {
    right: auto
}

h5 {
    /*padding-bottom: 10px;*/
}

.tag-purple {
    background-color: #8500ff !important;
    padding: 2px 4px;
    color: #fff;
    border-radius: 4px !important;
    font-size: larger;
}

.brround {
    border-radius: 50% !important;
}

.avatar-xxl {
    width: 100px !important;
    height: 100px !important;
    font-size: 56px !important;
}

.mg-b-20 {
    margin-bottom: 20px;
}

.tx-50 {
    font-size: 50px;
}

.mg-b-20 {
    margin-bottom: 20px;
}